@charset "utf-8";

$beige-lighter: rgb(198, 199, 194);
$body-background-color: $beige-lighter;

$gap: 32px;
$desktop: 700 + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "bulma/bulma.sass";


body{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.is-vertical-center {
    flex-grow: 1;
  }
