@charset "utf-8";

// import all colors
@import "bulma/sass/utilities/initial-variables.sass";

$beige-lighter: rgb(198, 199, 194);
$body-background-color: $beige-lighter;

// Make things a bit thinner on the desktop
$gap: 32px;
$desktop: 700 + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

// Keep horizontal forms a bit longer as well
$tablet: 550px;

// Make Forms a bit darker
$input-icon-color: $grey-light;
$input-border-color: $grey-light;

// Import all bulma stuff we use
// @import "bulma/bulma.sass";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/helpers/color.sass";
@import "bulma/sass/helpers/spacing.sass";
@import "bulma/sass/helpers/typography.sass";
@import "bulma/sass/layout/section.sass";


// Make small pages center vertically
body{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.is-vertical-center {
    flex-grow: 1;
  }