<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic page stuff -->
  <meta charset="utf-8">
  <title>{% block title %}Index Page!{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Used for Icons -->
  <link href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css" rel="stylesheet">

  <!-- Used for searchable select/multiselect -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <!-- Our own CSS (Mostly Bulma) and javascript functions -->
  <link rel="stylesheet" href="static/css/all.css">
  <script src=/static/js/scripts.js></script>

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
