{% extends "base.html" %}
{% block title%}Notion Repeat{% endblock %}
{% block content %}  

{% if recur %}
    <script>
        window.onload = function() {
            recur_options();
            date_visibility();
        };
        $(document).ready(function() {
            $('.s2-single').select2({width: "100%", closeOnSelect: true});
            $('.s2-multiple').select2({width: "100%"});
            // if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            //     $(".s2-single").select2('destroy');
            //     $(".s2-multiple").select2('destroy');
            // }
        });
        </script>
{% endif %}
<section class="section is-vertical-center">
    <div class="container">
    <form method="POST" action="">
        <!-- Connect Form -->
        {% if not recur %}
            <div class="box">
        {% else %}
            <div class="box" style="display: none;">
        {% endif %}
                <h1 class="title">Repeat Notion</h1>
                <h2 class="subtitle">Connect to Notion</h2>
                <div class="field">
                    <div class="control">
                        {{ connect.hidden_tag() }}
                        {{ connect.url(class="input", placeholder=connect.url.label.text) }}
                    </div>
                    {% for error in connect.url.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ connect.token(class="input", placeholder=connect.token.label.text) }}
                    </div>
                    <div class="control">
                        {{ connect.submit(class="button is-primary") }} 
                    </div>
                </div>
            </div>

        
        <!-- Recur Form -->
        {% if recur %}
            <div class="box">
                <h1 class="title">Recurring Settings</h1>
                <h2 class="subtitle">Choose how to iteratively add things</h2>
                <div class="field">
                    {{ recur.types.label }}
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            {{ recur.types(onchange="recur_options()", class="s2-single") }}
                        </div>
                    </div>
                </div>
                <div class="columns is-0" style="margin-bottom: -0.75rem;">
                    <div class="column" id="{{ recur.date_options.name }}_div" style="display: block;">
                        <div class="field">
                            {{ recur.date_options.label }}
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    {{ recur.date_options(onchange="date_visibility()", class="s2-single") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="{{ recur.start_date.name }}" style="display: block;">
                        <div class="field is-narrow">
                            {{ recur.start_date.label }}
                            <div class="control">
                                {{ recur.start_date(class="input") }}
                            </div>
                            {% for error in recur.start_date.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column" id="{{ recur.end_date.name }}" style="display: block;">
                        <div class="field is-narrow">
                            {{ recur.end_date.label }}
                            <div class="control">
                                {{ recur.end_date(class="input") }}
                            </div>
                            {% for error in recur.end_date.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column" id="{{ recur.count.name }}" style="display: block;">
                        <div class="field">
                            {{ recur.count.label }}
                            <div class="control">
                                {{ recur.count(class="input") }}
                            </div>
                            {% for error in recur.count.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="columns is-0" style="margin-bottom: -0.75rem;" id="recur_{{ recur.days.name }}" style="display: flex;">
                    <div class="column">
                        <div class="field">
                            {{ recur.days.label }}
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    {{ recur.days(class="s2-multiple", id="days_selector") }}
                                </div>
                            </div>
                            {% for error in recur.days.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="field" style="padding-top: 22px;">
                            <div class="control">
                                <input type="button" class="button is-primary" value="Add All" onclick="add_all_days()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            
        <!-- Notion Columns -->
        {% if columns %}
            <div class="box">
                <h1 class="title">Notion Columns</h1>
                <h2 class="subtitle">Fill in your info</h2>
                {% for field in columns if field.widget.input_type != 'hidden' %}
                    {% if field.id == "email" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-at"></span> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% elif field.id == "text" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-format-align-left"></span> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif field.id == "url" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-link-variant"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> 

                    {% elif field.id == "phone_number" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-phone"></span> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif field.id == "select" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left is-expanded">
                                        <div class="select is-fullwidth">
                                            {{ field(class="s2-single") }}
                                        </div>
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-arrow-down-drop-circle"></span>  
                                        </span>
                                    </div>
                                </div>    
                            </div>
                        </div>        

                    {% elif field.id == "title" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-format-font"></span>   
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>         

                    {% elif field.id == "multi_select" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left is-expanded">
                                        <div class="select is-multiple is-fullwidth">
                                            {{ field(class="s2-multiple") }}
                                        </div>
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-format-list-bulleted"></span>  
                                        </span>
                                    </div>
                                </div>    
                            </div>
                        </div>          

                    {% elif field.id == "person" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left is-expanded">
                                        <div class="select is-multiple is-fullwidth">
                                            {{ field(class="s2-multiple") }}
                                        </div>
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-account-group"></span>  
                                        </span>
                                    </div>
                                </div>    
                            </div>
                        </div>         

                    {% elif field.id == "number" %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-pound"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif field.id == "date" %}
                        <div class="field is-horizontal" id="{{ field.name }}_div">
                            <div class="field-label">
                                {{ field.label }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ field(class="input") }}
                                        <span class="icon is-left">
                                            <span class="mdi mdi-24px mdi-calendar-text"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endif %}
                {% endfor %}
                <div class="field">
                    <div class="control">
                        {{ connect.submit(class="button is-primary") }} 
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>
</section>
{% endblock %}
