{% extends "base.html" %}
{% block title%}Notion Repeat{% endblock %}
{% block content %}  

{% if recur %}
    <script>
        window.onload = function() {
            recur_options();
        };
    </script>
{% endif %}
<div class="container">
    <form method="POST" action="">
        <!-- Any Error Messages -->
        {% for message in get_flashed_messages() %}
            <div class="alert-error">{{ message }}</div>
        {% endfor %}
        <!-- Connect Form -->
        <!-- <tr>
            <td>{{ connect.url.label }}</td>
            <td>{{ connect.url }}</td></br>
            <ul class="errors">
                {% for error in connect.url.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </tr>
        <tr>
            <td>{{ connect.token.label }}</td>
            <td>{{ connect.token }}</td></br>
            </ul>
        </tr> -->
        <h4>Repeat Notion</h4>
        <h5>Connect to Notion</h5>
        {{ connect.hidden_tag() }}
        {{ connect.url.label }}
        {{ connect.url(class="u-full-width") }}
        {{ connect.token.label }}
        {{ connect.token(class="u-full-width") }}
        <!-- Recur Form -->
        {% if recur %}
            <h5>Recurring Settings</h5>
            {{ recur.types.label }}
            {{ recur.types(class="u-full-width", onchange="recur_options()") }}
            <div class="grid-container halves" id="recur_settings">
                <div id="{{ recur.start_date.name }}">
                    {{ recur.start_date.label }}
                    {{ recur.start_date(class="u-full-width") }}
                </div>
                <div id="{{ recur.end_date.name }}">
                    {{ recur.end_date.label }}
                    {{ recur.end_date(class="u-full-width") }}
                </div>
                <div id="{{ recur.count.name }}">
                    {{ recur.count.label }}
                    {{ recur.count(class="u-full-width") }}
                </div>
            </div>
            <table class="u-full-width" id="recur_days">
                <thead>
                  <tr>
                    <th>{{ recur.Sun.label }}</th>
                    <th>{{ recur.M.label }}</th>
                    <th>{{ recur.Tu.label }}</th>
                    <th>{{ recur.W.label }}</th>
                    <th>{{ recur.Th.label }}</th>
                    <th>{{ recur.F.label }}</th>
                    <th>{{ recur.Sat.label }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{ recur.Sun }}</th>
                    <th>{{ recur.M }}</th>
                    <th>{{ recur.Tu }}</th>
                    <th>{{ recur.W }}</th>
                    <th>{{ recur.Th }}</th>
                    <th>{{ recur.F }}</th>
                    <th>{{ recur.Sat }}</th>
                  </tr>
                </tbody>
            </table>
        {% endif %}
        
        <!-- Notion Form -->
        {% if columns %}
            {% for field in columns if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field(class="u-full-width") }}
            {% endfor %}
        {% endif %}

        {{ connect.submit }}
    </form>
</div>
{% endblock %}
